<template>
    <div if:true={PreChatOpen}>
        <div>
            <img src={brandLogo} ></img>
        </div>
        <div>
            <p>How can we help you?</p>
        </div>
        
        <div if:false={orderTypeSelected}>
            
            <div style="margin-bottom: 10px; " class="slds-align--absolute-center">
                <lightning-button variant="brand-outline" label="Product Information" title="Product Information" value='5733J0000008ORCQA2' onclick={handleClick} class="slds-p-around_medium"></lightning-button>
            </div>
            <div style="margin-bottom: 10px; " class="slds-align--absolute-center">
                <lightning-button variant="brand-outline" label="Sample Request" title="Sample Request" value='5733J0000008OR2QAM' onclick={handleClick} class="slds-p-around_medium"></lightning-button>
            </div>
            <div style="margin-bottom: 10px; " class="slds-align--absolute-center">
                <lightning-button variant="brand-outline" label="Technical Service" title="Technical Service" value='5733J0000008OQxQAM' onclick={handleClick} class="slds-p-around_medium"></lightning-button>
            </div>
            <div style="margin-bottom: 10px; " class="slds-align--absolute-center">
                <lightning-button variant="brand-outline" label="Customer Service" title="Customer Service" value='5734O000000GspEQAS' onclick={handleClick} class="slds-p-around_medium"></lightning-button>
            </div>
            <div style="margin-bottom: 10px; " class="slds-align--absolute-center">
                <lightning-button variant="brand-outline" label="Other" title="Other" onclick={handleClick} value='5733J0000008ORHQA2' class="slds-p-around_medium"></lightning-button>
            </div>
        </div>
        
        
    </div> 
   <div if:false={PreChatOpen}>
    <lightning-card title="Please complete the following:">        
            <template class="slds-m-around_medium" for:each={fields} for:item="field">
                <div key={field.name} class={field.name}>
                    <lightning-input key={field.name} name={field.name} label={field.label} value={field.value} max-length={field.maxLength} required={field.required} ></lightning-input>
                </div>
                
            </template>
            <!-- <div >
                <lightning-input name='FirstName' label='First Name' value='' required ></lightning-input>
                <div if:true={FirstNameError} style="color:red">Required</div>
                <div if:false={FirstNameError}></div>
            </div>
            <div >
                <lightning-input name='LastName' label='Last Name' value='' required ></lightning-input>
                <div if:true={LastNameError} style="color:red">Required</div>
                <div if:false={LastNameError}></div>
            </div>
            <div >
                <lightning-input name='Email' label='Email' value='' required ></lightning-input>
                <div if:true={EmailError} style="color:red">Required</div>
                <div if:false={EmailError}></div>
            </div>
            <div >
                <lightning-input name='Phone' label='Phone' value='' required ></lightning-input>
                <div if:true={PhoneError} style="color:red">Required</div>
                <div if:false={PhoneError}></div>
            </div> -->
            <lightning-combobox
                name="Country__c"
                label="Country"
                value=''
                placeholder="Select Country"
                options={optionslist}
                onchange={handleCountry} 
                required></lightning-combobox>
            <!-- <div if:true={Country__cError} style="color:red">Required</div>
            <div if:false={Country__cError}></div> -->
            <div if:true={showStateProvince}> 
                <!-- <lightning-input name="State_Province__c" label="State/Province" value='' onchange={addStateProvince} required></lightning-input>  -->
                <lightning-combobox
                name="State__c"
                label="State/Province"
                value=''
                placeholder="Select State/Province"
                options={optionsStateProvincelist}
                onchange={addStateProvince} 
                required
                ></lightning-combobox>
            </div>
                <!-- <div if:true={State_Province__cError} style="color:red">Required</div>
                <div if:false={State_Province__cError}></div> 
            </div>
            <div if:false={showStateProvince}>
                <lightning-input name="State_Province__c" label="State/Province" value='' disabled></lightning-input>
                <lightning-combobox
                name="State_Province__c"
                label="State/Province"
                value=''
                placeholder="Select State/Province"
                disabled ></lightning-combobox>
            </div>-->
            <div>
                <lightning-input  name="Subject__c" label="Subject" value='' required ></lightning-input>
                <!-- <div if:true={SubjectError} style="color:red">Required</div>
                <div if:false={SubjectError}></div> -->
            </div>
        </lightning-card>
            <div if:true={errorMessage} style="color:red; font-size:12px">{ErrorMessageText}</div>
            <div if:false={errorMessage}></div>
            <lightning-button label={startChatLabel} title={startChatLabel} onclick={handleStartChat} class="slds-m-left_x-small">
            </lightning-button>
   </div>
    
</template>


