:host {
    display: flex;
    flex-direction: column;
}

lightning-button {
    padding-top: 1em;
}

.Lead_Type__c {
    display: none;
}

.State__c{
    display: none;
}

.Country__c{
    display: none;
}

.Subject__c{
    display: none;
}

.LeadSource{
    display: none;
}

/* .hideStateProvince {
    display: none;
}

.showStateProvince {
    display: inline;
} */