<apex:page standardStylesheets="false" showHeader="false" sidebar="false">

    <style type="text/css">

        body{
        background-color: grey;
        }

        body, button, input, select, textarea {
        color: #58595b;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;
        }

        h1, h2, h3, h4, h5, h6 {
        clear: both;
        }

        h2 {
        font-size: 21px;
        line-height: 1.2;
        }

        h4 {
        font-size: 15px;
        line-height: 1.4;
        }

        hr {
        height: 1px;
        border: 0;
        border-top: 1px solid #dedfe2;
        }

        .large-eye {
        padding-left: 50px;
        background: url({!$Resource.largeEye}) no-repeat left center;
        height: 32px;
        }

        .formular {
        position: relative;
        background: #FFF;
        padding: 20px 40px 40px;
        width: auto;
        max-width: 720px;
        margin: 20px auto;
        }

        .dark-blue {
        color: #004877;
        }

    </style>

    <script>
      function changeValue( LO_InputElement,  LV_InoutId  ) {
        document.getElementById( LV_InoutId ).value = LO_InputElement.value;
      }
      </script>

    <div class="formular">

            <h2 class="large-eye">Quantabio Reagent Selector</h2>
            <hr/>

            <p style="margin-top: 30px; margin-bottom: 24px;">
                <h1 style="text-align: center; margin: 0px; margin-top: 30px;">Thank you for your Evaluation</h1>
                <h2 style="text-align: center; margin: 0px; margin-top: 30px;">your feedback has successfully been submitted</h2>
                           </p>
    
    </div>


</apex:page>