<apex:page standardController="Opportunity" tabStyle="Opportunity">
<flow:interview name="SetOpportunityAmount" finishLocation="/{!Opportunity.Id}">
   <apex:param name="varOppId" value="{!Opportunity.Id}"/>
</flow:interview>
    
</apex:page>